@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.Example3 {
  text-align: center;
}

.button {
  @include button($color1);
}

.container {
  text-align: center;
  display: inline-block;
  width: 400px;

  .block {
    background-color: $color1;
    height: 53px;
    position: absolute;
  }

  h1 {
    display: inline-block;
    color: $color1;
    margin: 0;
  }
}
